body{background: #fff;margin:0;padding:0;font-family:-apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;}
a:link, a:visited {text-decoration: none;color: #171717;}
a:hover {color: #005b99;}
.clear{clear: both;overflow: hidden;border: 1px solid transparent;height: 0;}
#table-outer,#result-desc {display: none;}

h1{font-weight: normal;text-align: center;padding: 0 18px;margin: 20px auto 0;font-size: 43px;color: #333;}

#feed-container {list-style: none;margin: 11px auto 9px;padding: 0 9px;overflow: hidden;max-width: 988px;}
#feed-container li {width: 25%;float: left;}
#feed-container li .inner {box-shadow: 0 1px 3px #999;background: #fff;border-radius: 5px;position: relative;margin: 9px;overflow: hidden;} 
#feed-container li .inner img {display: block;width: 100%;height: auto;}
#feed-container li .inner a {margin: 9px 10px;display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;white-space: normal;-webkit-line-clamp: 3;font-size: 20px;min-height: 72px;line-height: 1.2em;}
#feed-container li .inner a:before{content:"";position:absolute;top:0;bottom:0;left:0;right:0;}
#feed-container li .inner .news-text{height: 1px;overflow: hidden;}

#feed-container li:nth-child(1){width: 100%;float: none;}
#feed-container li:nth-child(1) .inner {background: #111;}
#feed-container li:nth-child(1) .inner img {float: left;width: 50%;margin: 0 18px 0 0;}
#feed-container li:nth-child(1) .inner a {font-size: 27px;color: #fff;margin: 18px;}

#feed-container li:nth-child(6),#feed-container li:nth-child(7),#feed-container li:nth-child(8){width: 33.333%;}
#feed-container li:nth-child(6) .inner a,#feed-container li:nth-child(7) .inner a,#feed-container li:nth-child(8) .inner a{font-size: 23px;min-height: 81px;}

#feed-nav {text-align: center;font-size: 14px;margin: 0 auto 20px;max-width: 280px;padding: 0 18px;}
#feed-nav a {display: block;padding: 11px 18px;background: #595959;color: #fff;border-radius: 50px;}
#feed-nav a:hover {background: #005b99;}

@media screen and (max-width:480px){
  
h1 {margin: 15px auto 0;font-size: 27px;}
#feed-container {margin: 0 auto 9px;}
  
#feed-container li:nth-child(1) .inner img {float: none;width: 100%;margin: 0;}
#feed-container li:nth-child(1) .inner a {font-size: 23px;margin: 12px 18px 11px;min-height: auto;}

#feed-container li,#feed-container li:nth-child(7), #feed-container li:nth-child(8) {width: 50%;}
  
#feed-container li:nth-child(7) .inner a, #feed-container li:nth-child(8) .inner a, #feed-container li .inner a {font-size: 17px;min-height: 82px;-webkit-line-clamp: 4;}
  
#feed-container li:nth-child(6){width: 100%;}
#feed-container li:nth-child(6) .inner a{min-height: auto;position: absolute;bottom: 0;color: #fff;z-index: 9;font-size: 23px;}
#feed-container li:nth-child(6) .inner:after {content: "";position: absolute;height: 80%;left: 0;right: 0;bottom: 0;
background: -moz-linear-gradient(top,rgba(0,0,0,0)0,rgba(0,0,0,.9)100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,.9)));
background: -webkit-linear-gradient(top,rgba(0,0,0,0)0,rgba(0,0,0,.9)100%);
background: -o-linear-gradient(top,rgba(0,0,0,0)0,rgba(0,0,0,.9)100%);
background: -ms-linear-gradient(top,rgba(0,0,0,0)0,rgba(0,0,0,.9)100%);
background: linear-gradient(to bottom,rgba(0,0,0,0)0,rgba(0,0,0,.9)100%);
}
  
}
